* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 60vw;
  text-align: center;
}

.logo {
  text-align: left;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.catPic {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.stack-sm > * + * {
  margin-top: 1rem;
}
